<!-- Content -->
<div class="wow fadeIn">
  <h1 class="text-center mb-3">Contributors</h1>
  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
<%= render 'users' %>
  <div class="flickr_pagination mb-3">
    <%= will_paginate @users, :container => false %>
  </div>
</div>
<!-- End Content -->
