<% if @category != nil %>
  <div id="category-<%= @category.name %>" class="p-2 flex-grow-1 bd-highlight"><%= link_to @category.name, category_path(@category), class: "link-secondary"%></div>
<% if logged_in? && current_user.admin? %>
  <div class="p-2 bd-highlight">
    <%= link_to "Edit", edit_category_path(@category), class: "btn btn-outline-warning btn-sm me-md-2", id: "edit-category-#{@category.id}", remote: true %>
  </div>
  <div class="p-2 bd-highlight">
              <%= link_to "Delete", category_path(@category), class: "btn btn-outline-danger btn-sm", id: "delete-category-#{@category.id}" %>
  </div>
<% end %>
<div class="p-2 bd-highlight">
  <span class="badge bg-primary rounded-pill">14</span>
</div>
<% end %>
