<!-- Footer -->
    <!--Copyright-->
    <footer id="sticky-footer" class="page-footer text-center mt-auto py-3 bg-light wow fadeIn">
      <div class="footer-copyright py-3">
            <span class="text-muted" >Copyright &copy; <%= DateTime.now.year %> <%= link_to "Alexander Stross", "https://alexanderstross.com", class: "text-muted"%></span>
      </div>
    <!--/.Copyright-->
</footer>
<!-- end Footer -->
