<!-- Footer -->
<footer id="sticky-footer" class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted" >Copyright &copy; <%= DateTime.now.year %> Alpha Photography Blog</span>
    </div>
<!-- end Footer -->
