<!-- Footer -->
<footer id="sticky-footer" class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted" >Copyright &copy; <%= DateTime.now.year %> <%= link_to "Alexander Stross", "https://alexanderstross.com", class: "text-muted"%></span>
    </div>
<!-- end Footer -->
